<header class="site-header">
    <div class="wrapper">
        <p>
            Hello! 👋 
        </p>
        <p>
            My name is <b>Aleksander Grzyb</b>. I am software engineer living in <a href="https://www.google.com/maps/place/Poznań">Poznań, Poland</a>. Currently I am working at <a href="https://allegro.pl">Allegro</a> on <a href="https://itunes.apple.com/pl/app/allegro/id305659772?mt=8">Allegro iOS application</a> and at <a href="https://optopol.com.pl">Optopol</a> on <a href="https://optopol.com.pl/product/soct-copernicus-revo">image processing software</a>. Previously I worked at <a href="https://www.clio.com">Clio</a> (Vancouver, Canada) on <a href="https://itunes.apple.com/ca/app/clio/id686777370?mt=8">Clio iOS application</a>.
        </p>
    </div>
</header>
