<header class="site-header">
    <div class="wrapper">
        <p>
            Hello! 👋 
        </p>
        <p>
            My name is <b>Aleksander Grzyb</b>. I am software engineer living in <a href="https://www.google.com/maps/place/Berlin">Berlin, Germany</a>. I am working at <a href="https://spotify.com">Spotify</a> on <a href="https://apps.apple.com/us/app/spotify-music-and-podcasts/id324684580">Spotify iOS application</a>. You can download my current resume <a href="{{ site.url }}/assets/resume.pdf">here</a> or contact me directly via <a href="mailto:aleksander.grzyb@gmail.com?subject=">email</a>.
        </p>
    </div>
</header>
