<header class="site-header">
    <div class="wrapper">
        <p>
            Hello! 👋 
        </p>
        <p>
            My name is <b>Aleksander Grzyb</b>. I am software engineer living in <a href="https://www.google.com/maps/place/Stockholm">Stockholm, Sweden</a>. Currently I am working at <a href="https://spotify.com">Spotify</a> on infrastructure for <a href="https://apps.apple.com/us/app/spotify-music-and-podcasts/id324684580">Spotify iOS application</a>.
        </p>
    </div>
</header>
